#skillLevelFont{
    -fx-font: 35px "Comic Sans Ms";
    -fx-fill: YELLOW;
    -fx-background-color: transparent;
}

#skillNameFont{
    -fx-font: 50px "Comic Sans Ms";
    -fx-fill: YELLOW;
}

#arrowsDown{
    -fx-font: 70px Verdana;
    -fx-background-color: transparent;
    -fx-text-fill: RED;

}
#arrowsUp{
    -fx-font: 70px Verdana;
    -fx-background-color: transparent;
    -fx-text-fill: GREEN;

}
#skillSelectionStartFont{
    -fx-font: 75px "Comic Sans Ms";
    -fx-background-color: transparent;
    -fx-text-fill: YELLOW;

}

#title{
    -fx-font: 100px "Comic Sans Ms";
    -fx-fill: YELLOW;
}

#characterSheetStartFont{
     -fx-font: 40px "Comic Sans Ms";
     -fx-background-color: transparent;
     -fx-text-fill: YELLOW;
 }

#mapTitle{
    -fx-font: 70px "Comic Sans Ms";
    -fx-background-color: transparent;
    -fx-text-fill: YELLOW;
}

#regionName {
    -fx-font: 15px "Comic Sans Ms";
    -fx-background-color: transparent;
    -fx-text-fill: YELLOW;
}

#planetText {
    -fx-font: 35px "Comic Sans Ms";
    -fx-background-color: transparent;
}

#locationButt{
    -fx-font: 40px "Comic Sans Ms";
    -fx-background-color: transparent;
}

#locationInfo{
    -fx-font: 15px "Comic Sans Ms";
    -fx-background-color: transparent;
    -fx-text-fill: YELLOW;
}

#infoPane{
    -fx-background-color: GREY;
    -fx-border-color: YELLOW;
}

#travelToLocation{
    -fx-font: 15px "Comic Sans Ms";
    -fx-background-color: rgba(0, 156, 0, 0.7);
    -fx-text-fill: BLACK;
}

#closeInfoPanel{
    -fx-font: 15px "Comic Sans Ms";
    -fx-background-color: rgba(255, 0, 0, 0.48);
    -fx-text-fill: BLACK;
}

#statsBar {
    -fx-font: 16px "Comic Sans Ms";
    -fx-background-color: transparent;
    -fx-text-fill: YELLOW;
    -fx-fill: YELLOW;
}

#clear {
-fx-background-color: transparent;
}
.split-pane:horizontal > .split-pane-divider {
   -fx-background-color: transparent;
}
.split-pane:vertical > .split-pane-divider {
   -fx-background-color: transparent;
}

#viewShip{
    -fx-font: 30px "Comic Sans Ms";
    -fx-text-fill: RED;
    -fx-underline: true;
     -fx-background-color: transparent;
}



#regionTitle{
    -fx-font: 35px "Comic Sans Ms";
    -fx-background-color: transparent;
    -fx-text-alignment: center;
    -fx-text-fill: YELLOW;
    -fx-fill: YELLOW;
}

#marketTitle{
    -fx-font: 25px "Comic Sans Ms";
    -fx-background-color: transparent;
    -fx-text-alignment: center;
    -fx-text-fill: YELLOW;
    -fx-fill: YELLOW;
}

#regionInfo{
    -fx-font: 15px "Comic Sans Ms";
    -fx-background-color: transparent;
    -fx-text-fill: YELLOW;
    -fx-fill: YELLOW;
}

#iconText{
    -fx-font: 20px "Comic Sans Ms";
    -fx-background-color: transparent;
    -fx-text-fill: YELLOW;
    -fx-fill: YELLOW;
}

#mapIconButton{
    -fx-font: 28px "Comic Sans Ms";
    -fx-background-color: transparent;
}

#marketIconButton{
    -fx-font: 28px "Comic Sans Ms";
    -fx-background-color: transparent;
}

#itemTitle{
    -fx-font: 18px "Comic Sans Ms";
    -fx-text-alignment: center;
    -fx-text-fill: YELLOW;
    -fx-fill: YELLOW;
}

#itemDescription{
    -fx-font: 9px "Comic Sans Ms";
    -fx-text-alignment: center;
    -fx-text-fill: YELLOW;
    -fx-fill: YELLOW;
}

#itemBuyButt{
    -fx-font: 10px "Comic Sans Ms";
}

#itemsForSaleTitle{
    -fx-font: 16px "Comic Sans Ms";
    -fx-text-alignment: center;
    -fx-text-fill: YELLOW;
    -fx-fill: YELLOW;
}

#specialItemsTitle{
    -fx-font: 16px "Comic Sans Ms";
    -fx-text-alignment: center;
    -fx-text-fill: YELLOW;
    -fx-fill: YELLOW;
}

#shipCargoTitle{
    -fx-font: 16px "Comic Sans Ms";
    -fx-text-alignment: center;
    -fx-text-fill: YELLOW;
    -fx-fill: YELLOW;

}

#shipUpgradeTitle{
    -fx-font: 16px "Comic Sans Ms";
    -fx-text-alignment: center;
    -fx-text-fill: YELLOW;
    -fx-fill: YELLOW;
}

#itemVBox{
    -fx-background-color: GREY;
    -fx-border-color: YELLOW;
    -fx-padding: 5px;
}

#specialItemTitle{
    -fx-font: 16px "Comic Sans Ms";
    -fx-text-alignment: center;
    -fx-text-fill: YELLOW;
    -fx-fill: YELLOW;
}

#specialItemDescription{
    -fx-font: 10px "Comic Sans Ms";
    -fx-text-alignment: center;
    -fx-text-fill: YELLOW;
    -fx-fill: YELLOW;
}

#currentUpgradeItemDescription{
    -fx-font: 10px "Comic Sans Ms";
    -fx-text-alignment: center;
    -fx-text-fill: YELLOW;
}

#specialVBox{
    -fx-background-color: GREY;
    -fx-border-color: YELLOW;
    -fx-padding: 5px;
}

#specialWinningVBox{
    -fx-background-color: MAGENTA;
    -fx-border-color: YELLOW;
    -fx-padding: 5px;
}

#specialItemBuyButt{
    -fx-font: 12px "Comic Sans Ms";
}

#backButton{
    -fx-font: 22px "Comic Sans Ms";
    -fx-text-alignment: center;
    -fx-background-color: transparent;
    -fx-text-fill: YELLOW;
    -fx-fill: YELLOW;
}

#traderActionButton{
    -fx-font: 30px "Comic Sans Ms";
    -fx-text-fill: GREEN;
    -fx-background-color: transparent;
}

#traderResult{
    -fx-font: 22px "Comic Sans Ms";
    -fx-text-fill: WHITE;
    -fx-fill: WHITE;
}
